@media screen and (max-width: 764px) {
    .topheading{
        text-align:center;
        margin-top:30%;
        font-size: 40px;
    }
    .secondheading{
        text-align:center;
        padding-top:15%;
        font-size: 30px;
    }
    .box{
        width:80%;
        margin-left:10%;
        background-color: aqua;
        border-radius: 20px;
    
    }
    .chat{
        margin-top:40px;
    }
    .input2{
        /* margin-left:20%; */
        margin-left:-20px;
        align-items: center;
        height:50px;
        border-radius:20px;
        padding-left:20px;
        padding-right: 20px;
        width:100%;
        border:2px solid  ;
        resize: none;
        outline: none;
        font-size:larger;
       
    
    }
    .input2:hover { 
        border-color: red;
    }
    
    .input2:hover::placeholder { 
        color: red;
     
        
      }
      .content{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* text-align: center; */
        z-index: -1;
        width: 100%;
        /* padding: 0 30px; */
        /* color: #1b1b1b; */
      }
    
    
    .input2:active{
        border-color: red;
    }
    .submit1{
        
        margin-top:5%;
        width:400%;
        margin-left:-100%;
        height:50px;
        border-radius:20px;
        padding-left:20px;
        padding-right:20px;
    }
    .submit1:active{
        border-color: red;
    }
    .submit1:hover{
        border-color: red;
        color: red;
        text-decoration: solid;
        border-radius:40px;
        font-weight: 700;
     
    }
    .topinput{
        margin-top:-10px;
    }
    }
    .input1{
        padding-top:10%; 
        padding-bottom:10%;
        padding-left: 10%;
        padding-right:10%;
        
    }
    @media screen and (min-width: 765px) {
        .text{
           height:390px;
        }
        .topheading{
            text-align:center;
            margin-top:-12%;
            font-size: 70px;
        }
        .secondheading{
            text-align:center;
            padding-top:5%;
            font-size: 50px;
        }
        .box{
            margin-top:-320px;
            width:90%;
            margin-left:5%;
            height:600px;
            background-color: aqua;
            border-radius: 20px;
        
          
        }
        .input2{
           
            /* margin-top:5%; */
            width:110%;
            margin-left:-5%;
            height:50px;
            border-radius:20px;
            padding-left:20px;
            border:2px solid  ;
            position: static;
           
           
            resize: none;
            outline: none;
            font-size:larger;
        
        
           
        }
        .input2:hover { /* Chrome, Firefox, Opera, Safari 10.1+ */
            border-color: red;
        }
        
        .input2:hover::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: red;
         
            
          }
          .content{
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            /* text-align: center; */
            z-index: -1;
            width: 100%;
            /* padding: 0 30px; */
            /* color: #1b1b1b; */
          }
        
        .submit1{
            
            /* margin-top:35%; */
            width:fit-content;
            margin-left:60%;
            height:50px;
            border-radius:30px;
            padding-left:10px;
            padding-right:10px;
            background-color: white;
            border:2px solid  ;
            resize: none;
            outline: none;
            font-size:x-small;
        
           
        }
        .submit1:active{
            border-color: red;
            
        }
        .submit1:hover{
            border-color: red;
            color: red;
            text-decoration: solid;
            border-radius:40px;
            font-weight: 700;
         
        }
        .input2:active{
            border-color: red;
           
        }
        .topinput{
            margin-top:-70px;
        }
    }
    