@media screen and (max-width: 764px) {
.topheading{
    text-align:center;
    margin-top:30%;
    font-size: 40px;
}
.secondheading{
    text-align:center;
    padding-top:15%;
    font-size: 30px;
}
.box{
    width:80%;
    margin-left:10%;
    background-color: aqua;
    border-radius: 20px;
    /* width: fit-content; */
}

.input{
    display: block;
    margin-top:10%;
    /* margin-left:20%; */
    margin-left:-10px;
    align-items: center;
    height:50px;
    border-radius:20px;
    padding-left:20px;
    padding-right: 20px;
    width:110%;
    border:2px solid  ;
    resize: none;
    outline: none;
    font-size:larger;
   

}
.input:hover { /* Chrome, Firefox, Opera, Safari 10.1+ */
    border-color: red;
}

.input:hover::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
 
    
  }
  .content{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    z-index: -1;
    width: 100%;
    /* padding: 0 30px; */
    /* color: #1b1b1b; */
  }


.input:active{
    border-color: red;
}
.submit{
    display: block;
    margin-top:5%;
    width:40%;
    margin-left:30%;
    height:50px;
    border-radius:20px;
    padding-left:20px;
    padding-right:20px;
}
.submit:active{
    border-color: red;
    
}
.submit:hover{
    border-color: red;
    color: red;
    text-decoration: solid;
    border-radius:40px;
    font-weight: 700;
 
}

.topinput{
    margin-top:-10px;
}
}
.input1{
    padding-top:10%; 
    padding-bottom:10%;
    padding-left: 10%;
    padding-right:10%;
    
}
@media screen and (min-width: 765px) {
    .topheading{
        text-align:center;
        margin-top:5%;
        font-size: 70px;
    }
    .secondheading{
        text-align:center;
        padding-top:5%;
        font-size: 50px;
    }
    .box{
        width:60%;
        margin-left:20%;
        background-color: aqua;
        border-radius: 20px;
    
      
    }
    .input{
        display: block;
        margin-top:5%;
        width:80%;
        margin-left:10%;
        height:50px;
        border-radius:20px;
        padding-left:20px;
        border:2px solid  ;
       
        resize: none;
        outline: none;
        font-size:larger;
    
    
       
    }
    .input:hover { /* Chrome, Firefox, Opera, Safari 10.1+ */
        border-color: red;
    }
    
    .input:hover::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: red;
     
        
      }
      .content{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* text-align: center; */
        z-index: -1;
        width: 100%;
        /* padding: 0 30px; */
        /* color: #1b1b1b; */
      }
    
    .submit{
        display: block;
        margin-top:5%;
        width:fit-content;
        margin-left:40%;
        height:50px;
        border-radius:30px;
        padding-left:30px;
        padding-right:30px;
        background-color: white;
        border:2px solid  ;
        
        resize: none;
        outline: none;
        font-size:larger;
    
       
    }
    .submit:active{
        border-color: red;
        
    }
    .submit:hover{
        border-color: red;
        color: red;
        text-decoration: solid;
        border-radius:40px;
        font-weight: 700;
     
    }
    .input:active{
        border-color: red;
       
    }
    .topinput{
        margin-top:-70px;
    }
}
